{% load static %}


<div class="px-4 py-5 my-5 text-center">
    <img class="d-block mx-auto mb-4" src="{% static 'static/img/icon_s.png' %}" alt="" width="72">
    <h1 class="display-5 mb-4 fw-bold">WebTLEX</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">웹툰 큐레이션 서비스를 통해, 새롭고 흥미로운 웹툰을 쉽게 찾으세요.<br>
      본 플랫폼은 당신에게 맞는 최고의 웹툰을 골라 선택에 낭비되는 많은 요소를 획기적으로 개선합니다.<br>
      사용자 친화적 인터페이스와, 엄선된 컬렉션을 통해 취향에 맞는 웹툰을 찾아보세요.<br>
      <br>
      지금 바로, 웹툰의 세계를 탐험합시다.
    </p>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
        <button type="button" onclick = "location.href = '{% url 'rcmd:service' %}'" class="btn btn-danger btn-lg w-25 px-4 gap-3">Enter</button>
      </div>
    </div>
  </div>




<div id="intromid2" class="container col-xxl-8 px-4 py-5">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
      <div class="col-10 col-sm-8 col-lg-6 intromid2s">
        <img src="{% static 'static/img/_intro_img01.png' %}" class="d-block mx-lg-auto img-fluid" loading="lazy">
      </div>
      <div class="col-lg-6 intromid2s">
        <h1 class="display-5 fs-1 fw-bold lh-1 mb-3">아트스타일 기반 추천</h1><br>
        <p class="lead">약 3600개 작품의 모든 대표 이미지를 표본 추출하였습니다.
        <br><br>
        @@@@@@를 활용하여,
        <br>
        사용자의 선택을 취합하여 유사한 작품을 추천합니다.</p>
        <br>
        <div class="d-grid gap-2 d-md-flex justify-content-md-start">
          <button type="button" class="btn btn-outline-secondary btn-lg px-4">자세히 보기</button>
        </div>
      </div>
    </div>
</div>