{% load static %}


<div class="px-4 py-5 my-5">
    <img class="d-block mx-auto mb-4" src="{% static 'static/img/intro/intromid01.webp' %}" alt="" width="300">
    <h1 class="display-5 mb-4 fw-bold text-white" align="center">AIVLETOON</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4 text-white" align='center'> 날이 갈수록 높아져만 가는 K-웹툰의 위상,<br>
       그만큼 너무나도 다양한 작품들 사이에서, 취향에 맞는 웹툰을 찾기는 더욱 어려워졌어요.<br>
      이 선택의 과정을 개선하자는 목표로, 간단한 프로젝트를 준비했습니다.<br>
      <br>본 페이지를 통해 취향에 맞는 웹툰을 찾아보세요.
      <br>
      지금 바로, 웹툰의 세계를 탐험합시다.
    </p>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
        <button type="button" onclick = "location.href = '{% url 'rcmd:service' %}'" class="btn btn-danger btn-lg w-25 px-4 gap-3">Enter</button>
      </div>
    </div>
  </div>




<div id="intromid2" class="container col-xxl-8 px-4 py-5">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
      <div class="col-10 col-sm-8 col-lg-6 intromid2s">
        <img src="{% static 'static/img/intro/intromid04.webp' %}" class="d-block mx-lg-auto img-fluid" loading="lazy" width="400" >
      </div>
      <div class="col-lg-6 intromid2s text-white">
        <h1 class="display-5 fs-1 fw-bold lh-1 mb-3">For Detail..</h1><br>
        <p class="lead">본 프로젝트에 대해 좀 더 자세히 알고 싶나요?
        <br><br>
        팀 소개부터, 구현 방식, 기술 등에 대해 적어두었습니다.
        <br>
        또한, 리소스에 대한 출처표기 및 법령정보, 양해 등을 포함하였습니다.
        <div class="d-grid gap-2 d-md-flex justify-content-md-start mt-5">
          <button type="button" onclick = "location.href = '{% url 'rcmd:about' %}'" class="btn btn-outline-secondary btn-lg px-4">자세히 보기</button>
        </div>
      </div>
    </div>
</div>



