{% load static %}


<div class="px-4 py-5 my-5">
    <img class="d-block mx-auto mb-4" src="{% static 'static/img/intro/intromid01.webp' %}" alt="" width="300">
    <h1 class="display-5 mb-4 fw-bold text-white" align="center">AIVLETOON</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4 text-white" align='center'> 날이 갈수록 높아져만 가는 K-웹툰의 위상,<br>
       그만큼 너무나도 다양한 작품들 사이에서, 취향에 맞는 웹툰을 찾기는 더욱 어려워졌어요.<br>
      이 선택의 과정을 개선하자는 목표로, 간단한 프로젝트를 준비했습니다.<br>
      <br>본 페이지를 통해 취향에 맞는 웹툰을 찾아보세요.
      <br>
      지금 바로, 웹툰의 세계를 탐험합시다.
    </p>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
        <button type="button" onclick = "location.href = '{% url 'rcmd:service' %}'" class="btn btn-danger btn-lg w-25 px-4 gap-3">Enter</button>
      </div>
    </div>
  </div>




<div id="intromid2" class="container col-xxl-8 px-4 py-5">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
      <div class="col-10 col-sm-8 col-lg-6 intromid2s">
        <img src="{% static 'static/img/intro/intromid02.webp' %}" class="d-block mx-lg-auto img-fluid" loading="lazy" width="400" >
      </div>
      <div class="col-lg-6 intromid2s text-white">
        <h1 class="display-5 fs-1 fw-bold lh-1 mb-3">We are AIVLER!</h1><br>
        <p class="lead">KT 위주로 공부했어요.
        <br><br>
        KT AIVLE은 KT에서 진행하는 실무형 AI/DX 인재 양성 프로그램입니다.
        <br>저희는 KT AIVLE AI track의 3기 교육생이며 늘 발전하는 것을 목표로 달려가는
        예비 AI개발자들입니다. </p>
        <br>
        <div class="d-grid gap-2 d-md-flex justify-content-md-start">
          <button type="button" class="btn btn-outline-secondary btn-lg px-4">자세히 보기</button>
        </div>
      </div>
    </div>
</div>



<div id="intromid3" class="container col-xxl-8 px-4 py-5">
    <div class="row flex-lg-row align-items-center g-5 py-5">
      <div class="col-10 col-sm-8 col-lg-6 intromid3s">
        <img src="{% static 'static/img/intro/intromid03.webp' %}" class="d-block mx-lg-auto img-fluid" loading="lazy" width="400" >
      </div>
      <div class="col-lg-6 intromid3s text-white">
        <h1 class="display-5 fs-1 fw-bold lh-1 mb-3">딥러닝 기반 웹툰 추천</h1><br>
        <p class="lead">약 3600개 작품의 모든 대표 이미지를 표본 추출하였습니다.
        <br><br>
        그림체는 파인튜닝한 EfficientNetV2를, 줄거리는 미리 사전학습된 SBERT를 사용하여 특성값을 추출하여 cosine값을 통해 유사도를 구하였습니다. 
        <br>
        얼마나 딥러닝이 잘 추천해주는지 경험해보세요! </p>
        <br>
        
        <div class="d-grid gap-2 d-md-flex justify-content-md-start">
          <button type="button" class="btn btn-outline-secondary btn-lg px-4">자세히 보기</button>
        </div>
      </div>
    </div>
</div>