{% extends "../base.html" %}
{% load static %}



{% block loads %}
  <link rel="stylesheet" type="text/css" href="{% static 'static/css/service/contents.css'%}">
  <script type="text/javascript" src="{% static 'static/js/service/main.js'%}"></script>
{% endblock %}


{% block styles %}

{% endblock %}


{% block body %}

  {% include "./_modal.html" %}

  <div id='bg' class='position-fixed w-100 h-100'>
    <img id='service_banner' width="100%" class='py-1 rounded d-block position-absolute' src="{% static 'static/img/service/_service_img01.webp' %}">
  </div>

  <img id='mask_banner' width="100%" class='py-1 rounded d-block' src="{% static 'static/img/service/msk.png' %}">


<div id='contents_pack' class='px-4'>
  {% for gen in data1 %}
    <div class="row w-100 overflow-scroll">
      <div class="aw_array py-4 my-3 overflow-hidden">
        <div class='genre_title fs-2 text-white my-3'>
          {{gen.name}}
        </div>
        {% for i in gen.disp_artwork %}
        <div class="artwork mx-1 position-relative" uid="{{i.r_artwork.token}}_{{i.r_artwork.uid}}">
          <div class="artwork_imgs">
              <div class="artwork_dimmed position-absolute"></div>
              <img class="artwork_img artwork_img" src="{{i.r_artwork.temp_thumbpath}}" alt=""/>
          </div>
          <div class="artwork_title position-absolute p-2 text-white fs-6 text-truncate"  style="max-width: 180px;">
            {{i.r_artwork.title}}
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  {% endfor %}
</div>

{% endblock %}

{% block scripts %}
let ajax_url = "{% url 'rcmd:service' %}"

$('#searchbar').on("keyup", function(){
  send_keyword(ajax_url, $(this).val())
})

$(document).on("click",".artwork", function(){
  get_artwork_detail(ajax_url, $(this).attr('uid'))
})

$(document).on({
    mouseenter: function () {
      rowOutFocus($(this))
    },
    mouseleave: function () {
      rowOutFocus($(this))
      rowSetFocus($(this))
    },
    mousemove :function () {
      rowOutFocus($(this))
    }
}, ".artwork");

{% endblock %}