{% load static %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top shadow" style="height:60px">
    <div class="w-100 d-flex justify-content-between">
        <div class="align-items-center">
            <a href="./" class="text-decoration-none" style="color:#FFF; vertical-align:middle">
                <img width='50px' src="{% static 'static/img/__logo/icon_s_w.png' %}" >
            </a>
        </div>

        <div class="flex-fill align-self-center">
            <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0" style="font-size:1.5em">
                <li>
                    <a href="{% url 'rcmd:intro' %}" class="nav-link px-5 link-light">
                        Intro
                    </a>
                </li>
                <li>
                    <a href="{% url 'rcmd:service' %}" class="nav-link px-5 link-light">
                        Service
                    </a>
                </li>
                <li>
                    <a href="{% url 'rcmd:about' %}" class="nav-link px-5 link-light">
                        About
                    </a>
                </li>
                
            </ul>
        </div>


    <div class="align-items-center align-middle">
        <div class="container-fluid">
            <ul class="navbar-nav">
                <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <img width='35px' src="{% static 'static/img/__logo/icon_s_w.png' %}" >
                </a>
                <ul class="dropdown-menu dropdown-menu-dark dropdown-menu-end" aria-labelledby="navbarDarkDropdownMenuLink">
                    <li><a class="dropdown-item" href="#">Login</a></li>
                    <li><a class="dropdown-item" href="#">Mypage</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="#">Logout</a></li>
                </ul>
                </li>
            </ul>
        </div>
        </div>
    </div>
</nav>